.calender-container,
.calender,
.calender-header,
td,
tr{
    padding: 0;
    margin: 0;
}

.calender-container{
    border:3px solid skyblue;
}

.calender{
    background-color:white;
    border-spacing:0;
    border-collapse:collapse;
    width:100%;
}

.calender-header{
    border-bottom:2px dashed skyblue;
    font-size: 1.6em;
}

.calender-header td{
    border-spacing:0;
    padding-left:5px;
}

.day,
.empty-slot,
.week-day{
    text-align:center;
    height:70px;
}

.week-day{
    font-size:1em;
    font-weight: bold;
}

.day{
    font-size:0.9em;
    font-weight: bold;
}

.day{
    cursor:pointer;
    width:24px;
    height:24px;
    line-height:24px;
}

.current-day{
    background-color: #4285f4;
    width:28px;
    height:28px;
    line-height:28px;
    border-radius:2%;
    color: white;
}

.month-popup{
    position:absolute;
    padding:5px;
    background:white;
    border:2px solid skyblue; 
}

.month-popup div{
    padding:0.3em;
    font-weight: bold;
}

.nav-month{
    position:absolute;
    top:0.6em;
    font-size:0.7em;
    right:3px;
}

.prev{

}

.next{

}

.editor-year{
    max-width:4em;
}

.label-month{
    color:black;
    font-weight: bold;

}
.label-year{
    font-size:1.5em;
    color: red;
    font-weight: bold;
}

.label-month{
    cursor:pointer;
}


